/*body {
  background-size: initial;
}*/
h1 {
  font-size: 30px;
}
h2 {
  font-size: 15px;
}
#pagewrap{
  width: 97%;
  padding:0;
  background-size: 710px 335px;
  background-position: 23px 19px;
}
#pagewrap.home{
  background-position: 40px 80px;
}

/*.company #pagewrap, .where #pagewrap {
  padding-top: 150px;
}*/
#contentLeft {
  width: 57%;
}
.company #contentLeft {
  width: 100%;
}
#navigation {
  padding-left: 10px;
  position: absolute;
}
#footer {
  width: 102%;
  display: none;
}
.centerFooter {
  padding-left: 15px;
}
.iframe {
  top: 156px;
  left: 42px;
}
.company .sidebarContent {
  display: none;
}
/*.phone,.pc{
  display: none;
}*/
#suggestPost {
  top: 450px;
}
 /*.web,.phone{
  display: none;
}*/
 .phone,.web{
  display: none;
}
.ipad{
  display: block;
}