
body {
  background-color: #FFFFbb;
}

#contentLeft {
  position: absolute;
  top: 0;
  left: 20px;
}

#contentLeft .frame {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/iphone2.png) -50px 70px no-repeat;
  width: 420px;
  height: 808px;
}

#contentLeft .iframe {
  height: 487px;
  width: 322px;
  border-style: none;
  position: absolute;
  top: 199px;
  left: 27px;
}

#contentRight {
  position: absolute;
  top: 0;
  left: 440px;
  height: 800px;
}
#contentRight .iframe {
  height:800px;
  width:1200px;
  border-style: none;
  position:absolute;
  top: 60px;
  left: 0;
}
