/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}

img, fieldset {
    border: 0;
}

/* set image max width to 100% */
img {
    max-width: 100%;
    /*height: auto;*/
    width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
    background: url(../images/Background.jpg) no-repeat center top;
    background-size: 100% 150%;
    background-color: #1C3A39;
    font: .81em/150% Calibri, sans-serif;
    color: white;
}
a {
    color: lightSkyBlue;
    text-decoration: none;
    outline: none;
}
#navigation a {
    color:white;
}
#navigation li {
    float: left;
    padding-right: 20px;
    font-size: 18px;
}
#navigation {
    position: fixed; 
    top: 0; 
    background-color: black; 
    /*background-color: rgba(0, 0, 0, 0.4);*/
    width: 100%; 
    z-index: 10; 
    font-size: 20px;
}
.navigationCenter {
    width: 980px; margin: 0 auto;
}

/*a:hover {
    text-decoration: underline;
}*/

/* list */
ul, ol {
    margin: 0px 0px 0px 30px;
    padding: 0;
    line-height: 140%;
    font-size: 15px;
}

.productContainer li p {
    margin-left: 30px;
    color: #eaeaea;
}

/* headings */
h1, h2, h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}
h1 {
    font-size:35px;
}
h2 {
    font-size:17px;
}
.faq #header h1, .how #header h1{
    float: right;
    padding-top: 67px;
}

p {
    font-size:14px;
    color: white;
}
.productBoxText h3 {
    margin-left: 20px;
    color: deepskyblue;
    font-weight: bold; 
}

.faq #header img, .how #header img{
    padding-top: 40px;
}

.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}


/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
    width: 980px;
    margin: 0 auto;
    padding-top: 50px;
    /*padding-bottom: 40px;  For fixed footer */
}

.home #pagewrap {
    background: url(../images/iphoneBackground.png) 45% -6px no-repeat;
    padding-top: 104px;
}

.company #pagewrap {
    background: url(../images/bgCompany.png) 45% -6px no-repeat;
    padding-top: 20px;
}
.where #pagewrap {
    background: url(../images/iphoneBackground.png) 45% -6px no-repeat;
    padding-top: 205px;
}
.mainContainer {
    max-width: 980px; 
    margin: 0 auto;
    border-color: transparent;
}
.container {
    float: left;
    max-width: 400px;
    height: 400px;
    border: 1px solid white;
    border-color: transparent;
}
.container p {
    font-size: 16px;
    padding-top: 5px;
}
.productContainer {
    width: 550px;
    margin: 0 auto;
}
.productBoxMain {
    width: 960px;
    margin: 0 auto;
}
.productBoxImage {
    float: left;
    width: 400px;
}
/*
.productBoxImage img {
    display: block;
    margin: 0 auto;
} */
.productBoxText {
    float: left;
    width: 560px;
    margin: 0 auto;
}
/************************************************************************************
HEADER
*************************************************************************************/
#header {
    position: relative;
    top: 2px;
    padding: 10px;
}
.home #header, .where #header, .company #header {
    top: -20px;
    padding: 0;
}
.faq #header, .how #header {
    top: -10px;
    padding: 0;
}
/* .company #header {
    position: relative;
    top: -80px;
}*/

.iphoneContent{
    display:none;
}
/************************************************************************************
CONTENT Left
*************************************************************************************/
#contentLeft {
    color: white;
    /*margin: 20px 0px 0px 20px;*/
    width: 630px;
    /* float: left; */
    background-color:#000;
    background-color: rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
}
#contentWrap .wrapper {
    padding: 10px;
}

.home #contentLeft li {
    margin: 0px 50px 20px 10px;
}
.home #contentLeft img {
    margin-top: 10px;
}

.faq #contentLeft {
    width: 100%;
    padding-bottom: 0;
}
.faq #contentLeft p{
    font-size:16px;
    padding:10px;
}
.where #contentLeft {
    padding-bottom: 15px;
}
.where #contentLeft ul {
    min-height: 75px;
    margin: 0;
}
.how #contentLeft {
    height: 840px;
    background: url(../images/iphone2.png) 50% 70px no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    /*margin-top: 10px;*/
}

.company #contentLeft{
    /*width: 100%;*/
    width: 626px;
}
.company #contentLeft p {
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    text-align: justify;
}
.company #contentLeft li, .where #contentLeft li {
    margin: 10px 0px 10px 0px;
    padding: 0;
}
.contentLeftMobile {
    display:none;
}
#menu {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 40px;
}
#menu li {
    display: inline;
    margin: 20px 50px 27px 10px;
    padding: 0;
}
#menu li a {
    float: left;
    padding: 10px 8px 9px 9px;
    color: white;
    font-weight: bold;
}
#menu li.selected a {
    border-bottom-style: solid;
    border-color:#c21b00;
}


#content-tab {
    margin: auto;
    width: 100%;
    height: 100%;
}
/*
#content-tab ul li.selected {
    border: medium none;
    position: relative;
    z-index: 10;
    color: #ffffff;
}
*/
#content-tab div.tab {
    width: 100%;
    z-index: 9;
    max-height: 380px;
    min-height: 380px;
}
.iframe{	
    height:490px;
    width:322px;
    border-style: none;
    position:relative;
    top: 152px;
    left: 157px;
}

/************************************************************************************
CONTENT  padding: 20px 35px;
*************************************************************************************/
#contentWrap{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 21px;
}

.hvorContent{
    padding: 10px 20px;
}	
.hvorContent ul{
    list-style:none;
}	
.photos{
    float:right;
}
.input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height:35px;
    border-style: none;
}
.inputButton{
    height: 36px; color: white;
    background-color: #006C4A;
    border-radius: 5px;
    font-weight: bold;
    border-style: none;
}

.gradient, .faq h2{
    background: #009059; /* Old browsers */
    background: -moz-linear-gradient(top,  #009059 1%, #006c4a 100%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#009059), color-stop(100%,#006c4a), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #009059 1%,#006c4a 100%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #009059 1%,#006c4a 100%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #009059 1%,#006c4a 100%,#002400 100%); /* IE10+ */
    background: linear-gradient(top,  #009059 1%,#006c4a 100%,#002400 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009059', endColorstr='#002400',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    color: white;
}
.selected{
    /*border-bottom-style:solid;
    border-bottom-width: 1px;*/
    padding: 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar {
    float: right;
    /*margin: 20px 20px 0px 0px;*/
    color: white;
}
.sidebarButtons {
    display:none;
}
#sidebar li {
    margin: 15px 10px 18px 10px;
    padding: 0;

}
.sidebarContent p{
    font-size:15px;
    font-weight:bold;
}
.sidebarContent {
    background-color: rgba(0, 0, 0, 0.4);
    width: 300px;
    padding-bottom: 5px;
}
.sidebarContent img{
    margin-top: 10px;
}
.sidebarContent ul{
    list-style-type:none;
    margin-left: 15px;
}

.myButton {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
}
.myButton:hover {
    text-decoration: none;
}
/************************************************************************************
FOOTER
*************************************************************************************/

#footer {
    clear: both;
    color: #CCC;
    font-size: 85%;
    background-color: black;
    height: 50px;
    width: 100%;
    font-size: 15px;
    /*position: fixed;
    bottom: 0;*/
    /*display: none;  no footer for now */
}
#footerBg {
    background-color: black;
    height: 50px;
    width: 100%;

}
#footer a {
    color: #fff;
}
.centerFooter {
    width: 980px;
    margin: 0 auto;
}

/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; contentLeft: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

/************************************************************************************
POPUP
*************************************************************************************/

#popup1 {
    position: absolute;
    top: 220px;
}
.popupStyle{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-image: url(../images/popup2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:none;
}
.popupStyle ul{
    list-style-type: none;
    padding: 0;
}
.popupStyle p{
    margin-top:10px;
    margin-bottom: 10px;
}
.popupStyle img{
    width: 100px;
    height:100px;
}

#suggestPost
{
    background:transparent url(../images/suggest-post.png) no-repeat scroll 0px 0px;
    left:0;
    position:fixed;
    top:350px;
    z-index: 9999;
}
/*div#suggestPost:hover
{
  background-position:-41px 0px;
}*/
#suggestPost a
{
    display: block;
    height: 104px;
    width: 37px;
    box-shadow: 0px 1px 40px 4px #000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/*faq toogle css*/
.msg_list {
    margin: 0px;
    padding: 0px;
    /*width: 383px;*/
}
.msg_head {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    border-bottom: solid 1px black;
}
.msg_body {
    padding: 5px 10px 15px;
}
.error{
    color: red;
}
.phone,.ipad{
    display: none;
}
.web{
    display: block;
}
.fb-like{
    margin-top: 15px; 
    height: 27px;
}

